{% extends 'base.html.twig' %}

{% block title %}Hello WeatherController!{% endblock %}

{% block body %}
    <h4>Weather Forecast</h4>
    <p>
        <b>{{ weather.country_code | upper}} : {{ weather.city }}</b>
    </p>
    
    <p>Temperature: {{ weather.temperature }}</p>
{% endblock %}
